* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body .container {
  background-color: white;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 50px;
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
}
body .container .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  padding-bottom: 0;
  background-color: lightcoral;
}
body .container .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
body .container .box {
  position: relative;
  width: 70%;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}
body .profileText {
  position: relative;
  padding: 40px;
  display: flex;
  align-items: center;
}
body .profileText h3 {
  font-size: 2rem;
  letter-spacing: 0.1em;
  line-height: 1em;
  font-weight: 600;
  color: white;
}
body .profileText span {
  position: relative;
  font-size: 0.5em;
  font-weight: 300;
  top: -10px;
}
body .contentBox {
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 40px 40px;
}
body .contentBox h3 {
  border-left: 4px solid crimson;
  padding-left: 10px;
  line-height: 1em;
  margin-top: 15px;
  font-size: 0.9rem;
}
body .leftSide ul {
  position: relative;
  margin: 10px 0;
}
body .leftSide li {
  list-style: none;
  margin: 3px 0;
  line-height: 1em;
  font-size: 0.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
body .leftSide li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
body .leftSide .education li {
  display: flex;
  margin: 3px 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body .leftSide .education li h5 {
  color: crimson;
}
body .leftSide .education li h4 {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  margin: 5px 0;
}
body .leftSide .education li h6 {
  color: gray;
  font-weight: 300;
  font-size: 10px;
}
body .leftSide .language span {
  font-size: 0.7rem;
  font-weight: 500;
}
body .leftSide .language .lvl {
  position: relative;
  width: 100%;
  background: lightgray;
  height: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}
body .leftSide .language div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: crimson;
}
body .leftSide .interests {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .rightSide {
  padding-left: 30px;
}
body .rightSide .box-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
  margin: 10px 0;
}
body .rightSide .year_company {
  font-size: 0.7rem;
  font-weight: 300;
  color: crimson;
}
body .rightSide .year_company h5 {
  margin-bottom: 5px;
}
body .rightSide .title_exp {
  font-size: 0.7rem;
}
body .rightSide .title_exp .exp {
  list-style: none;
}/*# sourceMappingURL=style.css.map */